/* Reset some default browser styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Set garden-themed background image with an overlay */
body {
  background-color: rgb(252, 240, 203);
  background: url("sakura.webp") repeat center center fixed;
  background-size: contain;
  font-family: Verdana, sans-serif; /* Default font stack with fallbacks */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}


h1, h2, h3 {
  font-family: 'Verdana', sans-serif; /* Modern font */
 /* font-size: 36px; */
  margin: 10px 0;
  color: rgb(179, 66, 132)
} 

footer {
  background: linear-gradient(to left, #4b9728, #95c857);
  color: #fff; /* White text color */
  padding: 10px;
  text-align: center;
  width: 80%; /* 80% width */
  position: fixed; /* Stick to the bottom */
  bottom: 0;
  z-index: 100; /* Ensure the footer appears on top of other content */
}

/* Main section styles with an overlay */
main {
  width: 50%; /* 80% width */
  margin: 60px auto; /* Add space top and bottom (adjust as needed) */
  padding: 20px; /* Padding within the box */
  background: #f0e3b400; /* White overlay with transparency */
  text-align: center; /* Text aligned to the left */
  min-height: 100vh; /* Cover the full vertical space */
  overflow: auto; /* Enable vertical scrolling if content exceeds the box */
}

/* Increase spacing between paragraphs in the main section */
main p {
  margin-bottom: 10px; /* Adjust the margin size as needed */
}


#HeadingWrapper {
  border-radius: 10px;
  /* Set the border radius for rounded corners */
  margin: 00 auto;
  /* Center the box horizontally */
  margin-top: 50px;
  /* Center the box vertically (adjust as needed) */
 /* width: 80%;
  background-color:  #358541a1; */
}



  #NotesWrapper {
    border-radius: 20px;
    /* Set the border radius for rounded corners */
    background: rgb(250, 255, 215);
    margin: 0 auto;
    /* Center the box horizontally */
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    /* Center the box vertically (adjust as needed) */
  /*  width: 80%; */
  }

#timer {
  font-size: 2em;
  color: rgb(255, 252, 247);
  position: fixed; /* Stick to the bottom */
  bottom: 10%;
}

#startButton {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: rgb(239, 180, 16);
  margin: 15% auto;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(239, 180, 16);
  width: 80%;
  text-align: center;
}

#confirmButton, #cancelButton, #confirmationConfirmButton, #confirmationCancelButton, #saveButton, #startButton {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(253, 255, 199);
  border: 1px solid rgb(239, 180, 16);
  border-radius: 5px;
}

input {
  background-color: rgb(253, 255, 199);
  border: 1px solid rgb(239, 180, 16);
  font-size: 16px;
  width: 100%;
  height: 200%
}

canvas {
  display: inline;
}